################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
lsp/IGEMS2.LSP
bin/ACCAMERA_25.7_17.tx
bin/AForge.Imaging.NetStandard.dll
bin/AForge.Math.NetStandard.dll
bin/AForge.NetStandard.dll
bin/ATEXT_25.7_17.tx
bin/AcDgnLS_25.7_17.tx
bin/AcIdViewObj_25.7_17.tx
bin/AcMPolygonObj15_25.7_17.tx
bin/Alternet.Common.v9.dll
bin/Alternet.Editor.Common.v9.dll
bin/Alternet.Editor.Roslyn.v9.dll
bin/Alternet.Editor.v9.dll
bin/Alternet.Scripter.Common.v9.dll
bin/Alternet.Scripter.Debugger.Common.v9.dll
bin/Alternet.Scripter.Debugger.UI.v9.dll
bin/Alternet.Scripter.Debugger.v9.dll
bin/Alternet.Scripter.Integration.v9.dll
bin/Alternet.Scripter.v9.dll
bin/Alternet.Syntax.Parsers.Roslyn.v9.dll
bin/Alternet.Syntax.Parsers.XAML.v9.dll
bin/Alternet.Syntax.v9.dll
bin/AppIcon.png
bin/AutoUpdate.exe
bin/Barcoder.dll
bin/BlendSharp.dll
bin/BlendSharpC.dll
bin/Castle.Core.dll
bin/DSTV.Net.dll
bin/DocumentFormat.OpenXml.Framework.dll
bin/DocumentFormat.OpenXml.dll
bin/EasyPipes.dll
bin/Emgu.CV.Bitmap.dll
bin/Emgu.CV.dll
bin/Esent.Interop.dll
bin/ExCSS.dll
bin/FastColoredTextBox.dll
bin/FuzzySharp.dll
bin/Genamo.deps.json
bin/Genamo.dll
bin/Genamo.xml
bin/Guppy.dll
bin/Hardware.Info.dll
bin/Humanizer.dll
"bin/IGEMS EULA.pdf"
bin/IGEMS.deps.json
bin/IGEMS.dll
bin/IGEMS.dll.config
bin/IGEMS.exe
bin/IGEMS.pfx
bin/IGEMS.runtimeconfig.json
bin/IGEMSAPI.deps.json
bin/IGEMSAPI.dll
bin/IGEMSAPI.dll.config
bin/IGEMSAPI.xml
bin/IGEMSCamera.deps.json
bin/IGEMSCamera.dll
bin/IGEMSCamera2.dll
bin/IGSReader.deps.json
bin/IGSReader.dll
bin/ILISP.deps.json
bin/ILISP.dll
bin/ISM_25.7_17.tx
bin/Interop.WMPLib.dll
bin/IronPython.Modules.dll
bin/IronPython.SQLite.dll
bin/IronPython.Wpf.dll
bin/IronPython.dll
bin/LibVLCSharp.WinForms.dll
bin/LibVLCSharp.dll
bin/MIConvexHull.dll
bin/MathNet.Numerics.dll
bin/Microsoft.Bcl.AsyncInterfaces.dll
bin/Microsoft.Build.Framework.dll
bin/Microsoft.Build.Utilities.Core.dll
bin/Microsoft.Build.dll
bin/Microsoft.CodeAnalysis.AnalyzerUtilities.dll
bin/Microsoft.CodeAnalysis.CSharp.Features.dll
bin/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
bin/Microsoft.CodeAnalysis.CSharp.dll
bin/Microsoft.CodeAnalysis.Elfie.dll
bin/Microsoft.CodeAnalysis.Features.dll
bin/Microsoft.CodeAnalysis.Scripting.dll
bin/Microsoft.CodeAnalysis.VisualBasic.Features.dll
bin/Microsoft.CodeAnalysis.VisualBasic.Workspaces.dll
bin/Microsoft.CodeAnalysis.VisualBasic.dll
bin/Microsoft.CodeAnalysis.Workspaces.dll
bin/Microsoft.CodeAnalysis.dll
bin/Microsoft.DiaSymReader.dll
bin/Microsoft.Dynamic.dll
bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Microsoft.Extensions.DependencyInjection.dll
bin/Microsoft.Extensions.Logging.Abstractions.dll
bin/Microsoft.Extensions.ObjectPool.dll
bin/Microsoft.Scripting.Metadata.dll
bin/Microsoft.Scripting.dll
bin/Microsoft.Win32.SystemEvents.dll
bin/ModelerGeometry_25.7_17.tx
bin/Mono.Unix.dll
bin/MvCameraControl.Net.dll
bin/MySqlConnector.dll
bin/NativeDebugWrappers.dll
bin/Newtonsoft.Json.dll
bin/OdDwg2PrcExport_25.7_17.tx
bin/OdOleSsItemHandler_25.7_17.tx
bin/OdPrcBaseExport_25.7_17.tx
bin/OdPrcModule_25.7_17.tx
bin/OdSwigNetLoad_25.7_17.tx
bin/OdSwig_OdPrcModule_Net8.dll
bin/OdSwig_PdfPublish_Net8.dll
bin/OdSwig_PlotSettingsValidator_Net8.dll
bin/OdSwig_RcsFileServices_Net8.dll
bin/OdSwig_TD_BrepBuilderFiller_Net8.dll
bin/OdSwig_TD_DbCoreIntegrated_Net8.dll
bin/OdSwig_TD_Dwf7Import_Net8.dll
bin/OdSwig_TD_PDFToolkit_Net8.dll
bin/OdSwig_TD_PdfExport_Net8.dll
bin/OdSwig_TD_RootIntegrated_Net8.dll
bin/OpenTK.Audio.OpenAL.dll
bin/OpenTK.Compute.dll
bin/OpenTK.Core.dll
bin/OpenTK.GLControl.dll
bin/OpenTK.Graphics.dll
bin/OpenTK.Input.dll
bin/OpenTK.Mathematics.dll
bin/OpenTK.Windowing.Common.dll
bin/OpenTK.Windowing.Desktop.dll
bin/OpenTK.Windowing.GraphicsLibraryFramework.dll
bin/PLUSManaged.dll
bin/PSN.deps.json
bin/PSN.dll
bin/PdfPublish_25.7_17.tx
bin/PlotSettingsValidator_25.7_17.tx
bin/QRCoder.dll
bin/RText_25.7_17.tx
bin/RasterProcessor_25.7_17.tx
bin/RcsFileServices_25.7_17.tx
bin/RecomputeDimBlock_25.7_17.tx
bin/Rockey4ND_X64.dll
bin/RxRasterServices_25.7_17.tx
bin/SCENEOE_25.7_17.tx
bin/SharpDX.D3DCompiler.dll
bin/SharpDX.DXGI.dll
bin/SharpDX.Direct3D11.dll
bin/SharpDX.Mathematics.dll
bin/SharpDX.dll
bin/SharpGLTF.Core.dll
bin/SharpGLTF.Runtime.dll
bin/SharpGLTF.Toolkit.dll
bin/ShellBrowser.Core.dll
bin/ShellBrowser.dll
bin/SixLabors.ImageSharp.dll
bin/Svg.dll
bin/System.ComponentModel.Composition.Registration.dll
bin/System.ComponentModel.Composition.dll
bin/System.Composition.AttributedModel.dll
bin/System.Composition.Convention.dll
bin/System.Composition.Hosting.dll
bin/System.Composition.Runtime.dll
bin/System.Composition.TypedParts.dll
bin/System.Configuration.ConfigurationManager.dll
bin/System.Data.Odbc.dll
bin/System.Data.OleDb.dll
bin/System.Data.SqlClient.dll
bin/System.Diagnostics.EventLog.dll
bin/System.Diagnostics.PerformanceCounter.dll
bin/System.DirectoryServices.AccountManagement.dll
bin/System.DirectoryServices.Protocols.dll
bin/System.Drawing.Common.dll
bin/System.IO.Packaging.dll
bin/System.IO.Pipelines.dll
bin/System.IO.Ports.dll
bin/System.Management.dll
bin/System.Private.ServiceModel.dll
bin/System.Private.Windows.Core.dll
bin/System.Reflection.Context.dll
bin/System.Runtime.Caching.dll
bin/System.Security.Cryptography.Pkcs.dll
bin/System.Security.Cryptography.Xml.dll
bin/System.ServiceModel.Duplex.dll
bin/System.ServiceModel.Http.dll
bin/System.ServiceModel.NetTcp.dll
bin/System.ServiceModel.Primitives.dll
bin/System.ServiceModel.Security.dll
bin/System.ServiceModel.Syndication.dll
bin/System.ServiceModel.dll
bin/System.ServiceProcess.ServiceController.dll
bin/System.Speech.dll
bin/System.Text.Json.dll
bin/System.Web.Services.Description.dll
bin/TD_Ave_25.7_17.tx
bin/TD_DbEntities_25.7_17.tx
bin/TD_DbIO_25.7_17.tx
bin/TD_Dwf7Import_25.7_17.tx
bin/TD_DynBlocks_25.7_17.tx
bin/TD_PdfExport_25.7_17.tx
bin/TXBarcode.Windows.Forms.dll
bin/TXBarcode.dll
bin/TXDocumentServer.Windows.Forms.dll
bin/TXDocumentServer.dll
bin/TXDrawing.Windows.Forms.dll
bin/TXDrawing.dll
bin/TXImageProvider.dll
bin/TXSVGGenerator.dll
bin/TXTextControl.Server.dll
bin/TXTextControl.Windows.Forms.Design.dll
bin/TXTextControl.Windows.Forms.dll
bin/TXTextControl.dll
bin/ThreadPool_25.7_17.tx
bin/TrGL2_25.7_17.txr
bin/Turtle.deps.json
bin/Turtle.dll
bin/UglyToad.PdfPig.Core.dll
bin/UglyToad.PdfPig.DocumentLayoutAnalysis.dll
bin/UglyToad.PdfPig.Filters.Dct.JpegLibrary.dll
bin/UglyToad.PdfPig.Fonts.dll
bin/UglyToad.PdfPig.Package.dll
bin/UglyToad.PdfPig.Tokenization.dll
bin/UglyToad.PdfPig.Tokens.dll
bin/UglyToad.PdfPig.dll
bin/WebpWrapperLib.dll
bin/WinForms.DataVisualization.Utilities.dll
bin/WinForms.DataVisualization.dll
bin/WinGLES2_25.7_17.txv
bin/WipeOut_25.7_17.tx
bin/Xbim.Common.dll
bin/Xbim.IO.Esent.dll
bin/Xbim.IO.MemoryModel.dll
bin/Xbim.Ifc.dll
bin/Xbim.Ifc2x3.dll
bin/Xbim.Ifc4.dll
bin/Xbim.Ifc4x3.dll
bin/Xbim.Tessellator.dll
bin/buildnum.txt
bin/corapi.dll
bin/devDept.Eyeshot.Control.Win.v2024.dll
bin/devDept.Eyeshot.Control.Win.v2025.dll
bin/devDept.Eyeshot.v2024.dll
bin/devDept.Eyeshot.v2025.dll
bin/devDept.Eyeshot.x64.v2024.dll
bin/devDept.Eyeshot.x64.v2025.dll
bin/liblcns.dll
bin/libwinpthread-1.dll
bin/mdbgeng.dll
bin/netDxf.dll
bin/protobuf-net.dll
bin/raw.dll
bin/runtimes/
bin/sqlite3-igems.dll
bin/sqlite3.exe
bin/sx32w-64.dll
bin/tx32_css.dll
bin/tx32_doc.dll
bin/tx32_dox.dll
bin/tx32_htm.dll
bin/tx32_pdf.dll
bin/tx32_rtf.dll
bin/tx32_xlx.dll
bin/tx32_xml.dll
bin/txic.dll
bin/txkernel.dll
bin/txpdf.dll
bin/txtools.dll
bin/IGEMS EULA.pdf
longtt.txt
lsp/IGEMS2.lsp.bak
ltfsource.txt
res/Reports/
res/Samples/ANest-1.acd
res/Samples/SINGLE.dig
res/Samples/tiger.eps
res/Shared/
res/Textures/Marble-SeyfTest.png
res/ToolbarImages/CAMTools.Align.png
res/ToolbarImages/CAMTools.BoundaryScan.png
res/ToolbarImages/CAMTools.BoundaryTrim.png
res/ToolbarImages/CAMTools.CleanUp.png
res/ToolbarImages/CAMTools.ContourAnalyzer.png
res/ToolbarImages/CAMTools.ConvexHull.png
res/ToolbarImages/CAMTools.CornerCutout.png
res/ToolbarImages/CAMTools.Curvefit.png
res/ToolbarImages/CAMTools.Divide.png
res/ToolbarImages/CAMTools.Dovetail.png
res/ToolbarImages/CAMTools.EdgeFix.png
res/ToolbarImages/CAMTools.ObjectReplace.png
res/ToolbarImages/CAMTools.PolyJoint.png
res/ToolbarImages/CAMTools.ShapeRecognition.png
res/ToolbarImages/CAMTools.SlitToLine.png
res/ToolbarImages/CAMTools.SolidClip.png
res/ToolbarImages/CAMTools.Vectorize.png
res/ToolbarImages/CORE.3D5XSamples.png
res/ToolbarImages/CORE.About.png
res/ToolbarImages/CORE.AppSettings.png
res/ToolbarImages/CORE.AppStore.png
res/ToolbarImages/CORE.Block.png
res/ToolbarImages/CORE.BringToFront.png
res/ToolbarImages/CORE.Changelog.png
res/ToolbarImages/CORE.CheckForUpdates.png
res/ToolbarImages/CORE.Close.png
res/ToolbarImages/CORE.CloseAll.png
res/ToolbarImages/CORE.Color.png
res/ToolbarImages/CORE.DrawingNote.png
res/ToolbarImages/CORE.DrawingUnits.png
res/ToolbarImages/CORE.DumpImage.png
res/ToolbarImages/CORE.Exit.png
res/ToolbarImages/CORE.Export.png
res/ToolbarImages/CORE.Help.png
res/ToolbarImages/CORE.Id.png
res/ToolbarImages/CORE.Info.png
res/ToolbarImages/CORE.Insert.png
res/ToolbarImages/CORE.Layer.png
res/ToolbarImages/CORE.Limits.png
res/ToolbarImages/CORE.LineType.png
res/ToolbarImages/CORE.LineWeight.png
res/ToolbarImages/CORE.MapShortcuts.png
res/ToolbarImages/CORE.New.png
res/ToolbarImages/CORE.Open.png
res/ToolbarImages/CORE.OpenSamples.png
res/ToolbarImages/CORE.Pan.png
res/ToolbarImages/CORE.Password.png
res/ToolbarImages/CORE.Plot.png
res/ToolbarImages/CORE.Preferences.png
res/ToolbarImages/CORE.Purge.png
res/ToolbarImages/CORE.RecentFiles.png
res/ToolbarImages/CORE.Recover.png
res/ToolbarImages/CORE.Redo.png
res/ToolbarImages/CORE.Save.png
res/ToolbarImages/CORE.SaveAs.png
res/ToolbarImages/CORE.SaveTemplate.png
res/ToolbarImages/CORE.SendToBack.png
res/ToolbarImages/CORE.ServiceCenter.png
res/ToolbarImages/CORE.SharedFolder.png
res/ToolbarImages/CORE.Status.png
res/ToolbarImages/CORE.Subscription.png
res/ToolbarImages/CORE.Templates.png
res/ToolbarImages/CORE.Undo.png
res/ToolbarImages/CORE.WriteBlock.png
res/ToolbarImages/CORE.Zoom.png
res/ToolbarImages/CORE.ZoomExtents.png
res/ToolbarImages/CORE.ZoomPart.png
res/ToolbarImages/CORE.ZoomWindow.png
res/ToolbarImages/Cam2d2.SubSheet.png
res/ToolbarImages/Cam2d2.TaperControl.png
res/ToolbarImages/Cam2d2.TiltCutoff.png
res/ToolbarImages/Cam2d2.ToolSetup.png
res/ToolbarImages/Cam2d2.ToolpathToolSetup.png
res/ToolbarImages/Cam2d2.UnlockSheet.png
res/ToolbarImages/DataExchange.NCReader.png
res/ToolbarImages/ImageTracer.Trace.png
res/ToolbarImages/NEST.AutoNest.png
res/ToolbarImages/NEST.BumpNest.png
res/ToolbarImages/NEST.BumpNestGlide.png
res/ToolbarImages/NEST.Circle.png
res/ToolbarImages/NEST.Inlay.png
res/ToolbarImages/NEST.ReNest.png
res/ToolbarImages/NEST.Rectangle.png
res/ToolbarImages/NEST.Report.png
res/ToolbarImages/NEST.SingleNest.png
res/ToolbarImages/NEST.TileCut.png
res/ToolbarImages/NEST.autonest.emf
res/ToolbarImages/ORGANIZER.Organizer.png
res/ToolbarImages/ORGANIZER.Register.png
res/ToolbarImages/PARAMPART.ParametricShapes.png
res/ToolbarImages/ShadowExtrude.png
res/ToolbarImages/SignMaker.FontTracer.png
res/ToolbarImages/SignMaker.TileMaker.png
res/ToolbarImages/TileMaker.PatternMatch.png
res/ToolbarImages/TileMaker.SplitToParts.png
unins000.dat
unins000.exe
