################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/res
/longtt.txt
/ltfsource.txt
/unins000.dat
/unins000.exe
